body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 10px;
}

a:visited {
  color: #0000EE;
}

a:hover {
	color: rgb(55, 6, 170);
}

a:active {
  color: rgb(86, 119, 187);
}

.shiny {
  border: 1px solid;
  border-color: black;
  margin: 0 5px;
}

.form {
  display: flex;
}

.input {
  margin: 0 5px;
}

.submit {
  margin: 0 5px;
}

.result {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid;
  border-color: black;
  width: 300px;
  text-align: center;
}